### Java / Maven
target/
*.class
*.log
*.jar
*.war
.settings/
.classpath
.project
/.idea/
*.iml

# Maven
.mvn/
repository/
dependency-reduced-pom.xml

# IntelliJ
.idea/
*.iws
out/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# H2 database files if any
*.mv.db
*.trace.db

# spring-boot devtools
spring-boot-devtools/
